%div{:class=>"well #{'own_status' if status.is_mine? current_user}"}
	.left
		= image_tag avatar_url(status.user.email), :class=>'status_user_avatar'

	.status_content
		%h4{:style=>'display:inline'}
			= link_to "#{status.user.name}", user_profile_path(status.user.screen_name)
			%small="@#{status.user.screen_name}"
		%p= status.html.html_safe
		%span.label= "#{time_ago_in_words(status.created_at)} ago"

		
		%div.operations
			- if current_user.faved? status
				= form_for status, :url => unfavorite_status_path(status), :method => :delete do |f|
					= f.button 'Unfavorite', :confirm => "Are you sure you want to unfavorite this status?", :class=>"btn btn-danger btn-mini"
			- else
				= form_for status, :url => favorite_status_path(status), :method => :put do |f|
					= f.button 'Favorite', :class=>"btn btn-success btn-mini"

			= link_to 'View Status', show_status_path(status), :class=>"btn btn-success btn-mini" unless "#{controller_name}##{action_name}" == 'operations#show'

			- if status.is_mine? current_user
				= form_for status, :url => destroy_status_path(status), :method => :delete do |f|
					= f.button 'Destroy', :confirm => "Are you sure you want to destroy this status?", :class=>"btn btn-danger btn-mini"


		
